<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>sportify</title>
  </head>

  <body ng-app="sportify-home" ng-controller="sportify-home-controller">
    <div class="row no-gutters">
      <!-- leftside -->
      <div class="col-sm-8 leftside">
        <div class="container">
          <div class="row justify-content-between">
            <!-- navbar-brand -->
            <div class="col-4 brand">
              <a href="/">sportify</a>
              <img src="/assets/logo.png" alt="" />
            </div>
            <!-- navbar-search-->
            <div class="col-4">
              <div class="input-group searchbar">
                <input
                  type="search"
                  class="form-control rounded dark"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon"
                  ng-model="searchEvent"
                />
                <button id="search-button" type="button" class="btn btn-dark">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div
              class="card activity-card border-0"
              ng-repeat="event in events | reverse | filter:searchEvent"
            >
              <div class="card-header row d-flex">
                <div class="col-11">
                  Event created by <b>{{event.createdBy.name}}</b>
                  <span
                    class="badge bg-danger rounded-pill"
                    id="activityJoinees"
                  >
                    {{event.joinees.length}}/{{event.maxJoinees}} Joinees
                  </span>
                </div>

                <span
                  ng-if="event.createdBy.username === profile.username"
                  ng-click="deleteEvent(event._id)"
                  type="button"
                  class="col-1"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{event.title}}</h5>
                <div class="card-text">
                  <!-- March 11, 2022 @ 17:00 -->
                  <p>
                    <b>Date and Time: </b> {{event.time | date:'MMMM dd, yyyy @
                    hh:mm a' }}
                  </p>
                  <p><b>Activity type: </b> {{event.type}}</p>
                  <p><b>Location:</b> {{event.location}}</p>
                  <div
                    ng-if="event.joinees.length === event.maxJoinees && !event.joinees.includes(profile.id)"
                  >
                    <button
                      class="btn btn-outline-dark btn-rounded"
                      data-mdb-ripple-color="dark"
                      ng-click="currentUserJoins(event._id)"
                      disabled
                    >
                      I'm joining
                    </button>
                  </div>
                  <div
                    ng-if="!event.joinees.includes(profile.id) && event.joinees.length < event.maxJoinees"
                  >
                    <button
                      class="btn btn-outline-success btn-rounded"
                      data-mdb-ripple-color="dark"
                      ng-click="currentUserJoins(event._id)"
                    >
                      I'm joining
                    </button>
                  </div>
                  <div ng-if="event.joinees.includes(profile.id)">
                    <button
                      class="btn btn-outline-danger btn-rounded"
                      data-mdb-ripple-color="dark"
                      ng-click="currentUserLeaves(event._id)"
                    >
                      I'm leaving
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- rightside -->
      <div class="col-sm-4 rightside">
        <div class="row justify-content-between">
          <div class="col-4">
            <!-- date and time -->
            <div class="DandT">
              <span id="clock"></span>
              <span><i class="fa-solid fa-clock"></i></span>
              <h6 id="date"></h6>
            </div>
          </div>
          <div class="col-7">
            <!-- user-profile -->
            <div class="row">
              <div class="dropdown">
                <div
                  class="row"
                  type="button"
                  id="dropdownMenuButton"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  <div class="col userdetails">
                    <div ng-if="profile.name">
                      <p class="name"><b>{{profile.name}}</b></p>
                      <p class="username">{{profile.username}}</p>
                    </div>
                    <div ng-if="!profile.name">
                      <p class="name"><b>{{profile.username}}</b></p>
                    </div>
                  </div>
                  <div class="col">
                    <img
                      class="rounded-circle w-50"
                      ng-src="{{profile.profileImage}}"
                      alt=""
                    />
                  </div>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li>
                    <a class="dropdown-item" href="/profile"> Profile </a>
                    <button class="dropdown-item" ng-click="logOut()">
                      Log Out
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- activity-creation  -->
        <div class="card create-event border-0 shadow-3-soft text-center">
          <div class="card-header">
            <h1>Create Event</h1>
          </div>
          <div class="card-body">
            <form ng-submit="createActivity()" id="create-activity-form">
              <div class="card-text">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Title"
                    id="activityTitle"
                    name="title"
                    required
                    ng-model="event.title"
                  />
                </div>
              </div>
              <div class="card-text">
                <div class="form-group">
                  <select
                    class="form-control"
                    id="activityType"
                    name="type"
                    required
                    ng-model="event.type"
                  >
                    <option value="" disabled selected>Activity type</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Cricket">Cricket</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Football">Football</option>
                  </select>
                </div>
              </div>
              <div class="card-text">
                <div class="form-group">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="location"
                      id="activityLocation"
                      placeholder="Location"
                      required
                      ng-model="event.location"
                    />
                  </div>
                </div>
              </div>
              <div class="card-text">
                <div class="form-group">
                  <input
                    type="datetime-local"
                    name="datetime"
                    class="form-control"
                    id="activityTime"
                    required
                    ng-model="event.time"
                  />
                </div>
              </div>
              <div class="card-text">
                <div class="form-group">
                  <input
                    type="number"
                    name="maxJoinees"
                    min="1"
                    class="form-control"
                    id="activityMaxJoinees"
                    placeholder="Max. joinees"
                    required
                    ng-model="event.maxJoinees"
                  />
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-dark btn-rounded"
                id="create-activity-button"
              >
                Create
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    // date and time logic
    function clock() {
      let date = new Date();
      let hrs = date.getHours();
      let mins = date.getMinutes();
      let period = 'AM';

      if (hrs == 0) hrs = 12;
      if (hrs > 12) {
        hrs = hrs - 12;
        period = 'PM';
      }

      hrs = hrs < 10 ? `0${hrs}` : hrs;
      mins = mins < 10 ? `0${mins}` : mins;

      let time = `${hrs}:${mins} ${period}`;
      setInterval(clock, 1000);
      document.getElementById('clock').innerText = time;

      months = [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec',
      ];
      days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

      document.getElementById('date').innerText = `${days[date.getDay()]}, ${
        months[date.getMonth()]
      } ${date.getDate()}, ${date.getFullYear()}`;
    }

    clock();

    const app = angular.module('sportify-home', []);

    app.filter('reverse', function () {
      return function (items) {
        return items.slice().reverse();
      };
    });

    app.controller('sportify-home-controller', ($scope, $http) => {
      const initProfile = () => {
        if (localStorage.getItem('sportify-token') == null) {
          location = '/login';
        }

        const profileRequest = {
          url: 'http://localhost:7878/api/auth/profile',
          method: 'GET',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('sportify-token')}`,
          },
        };

        $http(profileRequest).then(
          function success({ data }) {
            console.log(data);
            $scope.profile = data;
          },
          function failure(response) {
            console.error(response);
          }
        );
      };

      initProfile();

      const loadEvents = () => {
        const eventsRequest = {
          url: 'http://localhost:7878/api/events/',
          method: 'GET',
        };

        $http(eventsRequest).then(
          function success({ data }) {
            $scope.events = data;
          },
          function failure(response) {
            console.error(response);
          }
        );
      };

      loadEvents();

      $scope.createActivity = async () => {
        const reqBody = JSON.parse(JSON.stringify($scope.event));
        reqBody.createdBy = $scope.profile.id;

        const response = await fetch('/api/events/', {
          method: 'POST',
          body: JSON.stringify(reqBody),
          headers: {
            'Content-Type': 'application/json',
          },
        });

        const data = await response.json();

        if (data.status === 'ok') {
          document.getElementById('create-activity-form').reset();
          alert('Event created!');
          location.reload();
        }
      };

      $scope.currentUserJoins = async event_id => {
        const response = await fetch(`/api/events/add-joinee/${event_id}`, {
          method: 'PATCH',
          body: JSON.stringify({
            user_id: $scope.profile.id,
          }),
          headers: {
            'Content-Type': 'application/json',
          },
        });

        const data = await response.json();

        if (data.status === 'ok') {
          console.log(data.message);
          loadEvents();
        }
      };

      $scope.currentUserLeaves = async event_id => {
        const response = await fetch(`/api/events/delete-joinee/${event_id}`, {
          method: 'PATCH',
          body: JSON.stringify({
            user_id: $scope.profile.id,
          }),
          headers: {
            'Content-Type': 'application/json',
          },
        });

        const data = await response.json();

        if (data.status === 'ok') {
          console.log(data.message);
          loadEvents();
        }
      };

      $scope.logOut = () => {
        localStorage.removeItem('sportify-token');
        location = '/login';
      };

      $scope.deleteEvent = async event_id => {
        if (confirm('Are you sure you want to delete this event?')) {
          const response = await fetch(`/api/events/delete/${event_id}`, {
            method: 'DELETE',
          });
          const data = await response.json();
          if (data.status === 'ok') {
            alert(data.message);
            location.reload();
          }
        }
      };
    });
  </script>
</html>
