<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>sportify | Sign In</title>
  </head>

  <body class="register-body" ng-app="sportify-login">
    <div class="container register">
      <div class="row">
        <!-- navbar-brand -->
        <div class="col-4 brand">
          <a href="/">sportify</a>
          <img src="/assets/logo.png" alt="" />
        </div>
      </div>
      <div class="card register-form">
        <div class="card-body">
          <h3 class="card-title"><b>Login</b></h3>
          <form ng-controller="login-controller" ng-submit="handleLogin()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="username"
                id="login-username"
                class="form-control border-bottom"
                required
                ng-model="user.username"
              />
              <label class="form-label" for="login-username">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                id="login-pass"
                class="form-control border-bottom"
                required
                ng-model="user.password"
              />
              <label class="form-label" for="login-pass" data-error="wrong"
                >Password</label
              >
            </div>

            <!-- Submit button -->
            <div class="row mb-2">
              <div class="col d-flex justify-content-center">
                <button
                  id="sign-in-button"
                  type="submit"
                  class="btn btn-dark btn-block w-25"
                >
                  Sign In
                </button>
              </div>
            </div>

            <!-- Sign up -->
            <div class="row">
              <div class="col d-flex justify-content-center">
                <a href="/register">Don't have an account? Register!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script>
    const app = angular.module('sportify-login', []);

    app.controller('login-controller', $scope => {
      $scope.handleLogin = async () => {
        const response = await fetch('http://localhost:7878/api/auth/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify($scope.user),
        });
        const data = await response.json();

        if (data.status === 'ok') {
          localStorage.setItem('sportify-token', data.data);
          location = '/';
        } else {
          console.log(data);
        }
      };
    });
  </script>
</html>
