<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>sportify | Register</title>
  </head>

  <body
    class="register-body mb-4"
    ng-app="sportify-register"
    ng-controller="form-validation"
  >
    <div class="container register">
      <div class="row">
        <div class="col-4 brand">
          <a href="/">sportify</a>
          <img src="/assets/logo.png" alt="" />
        </div>
      </div>
      <div class="card register-form">
        <div class="card-body">
          <h3 class="card-title"><b>Register</b></h3>
          <form ng-submit="registerUser()">
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="register-name"
                class="form-control border-bottom"
                ng-model="registrar.name"
              />
              <label class="form-label" for="register-name">Full Name</label>
            </div>

            <!-- Username input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="register-username"
                class="form-control border-bottom"
                ng-required="true"
                ng-model="registrar.username"
              />
              <label class="form-label" for="register-username">Username</label>
            </div>

            <!-- Gender input  -->
            <div class="mb-4">
              <div class="form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="male"
                  ng-model="registrar.gender"
                  value="M"
                />
                <label class="form-check-label" for="male">Male</label>
              </div>

              <div class="form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="female"
                  ng-model="registrar.gender"
                  value="F"
                />
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>

            <!-- Interests -->
            <div class="mb-4">
              <label class="form-label" for="interests">Interests:</label>
              <!-- Basketball checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="basketball"
                  ng-model="registrar.interests.Basketball"
                />
                <label class="form-check-label" for="basketball"
                  >Basketball</label
                >
              </div>

              <!-- Cricket checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  ng-model="registrar.interests.Cricket"
                  id="cricket"
                />
                <label class="form-check-label" for="cricket">Cricket</label>
              </div>

              <!-- Football checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  ng-model="registrar.interests.Football"
                  id="football"
                />
                <label class="form-check-label" for="football">Football</label>
              </div>

              <!-- Cycling checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  ng-model="registrar.interests.Cycling"
                  id="cycling"
                />
                <label class="form-check-label" for="cycling">Cycling</label>
              </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                id="register-pass"
                class="form-control border-bottom"
                ng-required="true"
                ng-model="registrar.password"
                ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/"
              />
              <label class="form-label" for="register-pass">Password</label>
            </div>

            <!-- Confirm Password input -->
            <div class="form-outline mb-4 border-1">
              <input
                type="password"
                id="register-conf-pass"
                class="form-control border-bottom"
                ng-required="true"
                ng-model="registrar.password2"
              />
              <label class="form-label" for="register-conf-pass"
                >Confirm Password</label
              >
            </div>

            <!-- Location Button  -->
            <div class="mb-4">
              <label class="form-label align-middle" for="location"
                >Location:</label
              >
              <button
                type="button"
                class="btn btn-outline-primary mx-3"
                ng-click="acceptLocation()"
              >
                Use GPS
              </button>
            </div>

            <!-- Submit button -->
            <div class="row mb-2">
              <div class="col d-flex justify-content-center">
                <button
                  id="sign-up-button"
                  type="submit"
                  class="btn btn-dark btn-block w-25"
                >
                  Sign up
                </button>
              </div>
            </div>

            <!-- Sign in link -->
            <div class="row">
              <div class="col d-flex justify-content-center">
                <a href="/login">Already have an account? Sign in</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script>
    const app = angular.module('sportify-register', []);

    app.controller('form-validation', async ($scope, $http) => {
      $scope.registrar = {};

      $scope.acceptLocation = () => {
        navigator.geolocation.getCurrentPosition(({ coords }) => {
          $scope.registrar.location = {
            type: 'Point',
            coordinates: [coords.latitude, coords.longitude],
          };
        });
      };

      $scope.registerUser = async () => {
        // * validations *

        const reqBody = JSON.parse(JSON.stringify($scope.registrar));

        // forming an array of interests
        reqBody.interests = Object.keys(reqBody.interests).filter(
          key => reqBody.interests[key]
        );

        console.log(reqBody);

        delete reqBody['password2'];

        const response = await fetch(
          'http://localhost:7878/api/auth/register',
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(reqBody),
          }
        );

        const data = await response.json();
        console.log(data);

        if (data.status === 'ok') {
          localStorage.setItem('sportify-token', data.data);
          location = '/';
        }
      };
    });
  </script>
</html>
